@{
    ViewBag.Title = "Quiz";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    
    <h3>Given the following class:</h3>
    <pre>
    public class Puppy {
   
        int puppyAge;

        public Puppy(String name) {
        // This constructor has one parameter, name.
        System.out.println("Passed Name is :" + name ); 
        }
        public void setAge( int age ) {
            puppyAge = age;
        }

        public int getAge( ) {
            System.out.println("Puppy's age is :" + puppyAge ); 
            return puppyAge;
        }
    } 
    </pre>

    <h3>Make the X, Y</h3>
    <form action="/Home/QuizPost" method="post">

        <input class="form-control" type="text" name="username" />

        <input class="form-control login-button" type="submit" value="Submit" />
    </form>
</div>
